@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #222;
    font-family: 'Roboto', sans-serif;
    /* margin-bottom:15vw; */
    /* background-image: url("cacti.svg"); */
    /* background-repeat: no-repeat;
    background-position: bottom;
    background-size: 50vw auto; */
    color: #ddd;
    /* overflow: hidden; */
    background: rgb(53, 46, 56);
    background: linear-gradient(0deg, rgba(53, 46, 56, 1) 0%, rgba(49, 55, 36, 1) 13%, rgba(51, 51, 51, 1) 26%, rgba(34, 34, 34, 1) 100%);
}

#content {
    margin-top: 5em;
    padding-left: 35%;
    width: 50%;
    /* max-width: 500px; */
    /* border: 1px solid; */
    max-width: 800px;
}

.logo {
    margin-left: -22px;
}

.logo a {
    text-decoration: none;
    color: #ddd;
    border: none;
}

.quote {
    color: #888;
    font-size: 1.5em;
    font-style: italic;
    max-width: 500px;
}

.contact {
    margin-top: 2em;
}


@media (min-width: 1700px) {

    h1,
    h2 {
        font-size: 3em;
    }

    body {
        font-size: 2em;
    }
    #content {
        padding-left: 25%;
        max-width: 90%;
    }
    .quote {
        max-width: 90%;
    }
    .contact a {
        font-size: 2em;
    }
}

@media (max-width: 1000px) {
    #content {
        width: 70%;
        padding-left: 15%;
    }

    .logo {
        margin-left: 0px;
        font-size: 1.5em;
    }

    .contact {
        margin-left: 14px;
    }

    .contact a {
        position: relative;
        margin: 0;
        font-size: 1.5em;
        text-decoration: none;
        line-height: 2em;
        color: inherit;
    }

    .contact a:after {
        content: "\a";
        white-space: pre;
    }

    .contact .mail {
        display: block;
        position: absolute;
        bottom: 1em;
        font-size: 1.7em;
        color: #ddd;
    }
}

@media (max-width: 500px) {
    #content {
        padding-left: 10%;
    }

    .contact {
        margin: none;
    }

    .contact a {
        display: none;
    }

    .contact .mail a {
        display: inherit;
        /* margin-left: -.5em; */
        left: 0;
        margin: -.8em;
    }
}

.fixed-sidebar {
    position: fixed;
    overflow-y: scroll;
    z-index: 10;
    right: 0px;
    top: 0px;
    transition: all 0.5s ease 0s;
    padding: 10px;
    width: auto;
}

.fixed-sidebar.full-height {
    bottom: 0px;
}

#changelog-content,
#package-info {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-shadow: 0 1px 5px #ccc;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    width: 600px;
}

#changelog-content h1,
#changelog-content h2,
#changelog-content h3 {
    padding: 0 !important;
    padding-left: 10px !important;
    font-size: 1.4rem;
}

a.selected {
    font-weight: bold;
}

#content.searching p.hidden {
    display: none;
}

.inline-image {
    position: relative;
    padding: 1.5em;
    height: 3em;
    padding-top: 1em;
}

li img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a.not-found {
    opacity: 0.35;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

a.unknown {
    display: none;
}


/* mobile rotated */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .contact {
        display: none;
    }
}