body {
    background-color:#eee;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom:15vw;
    background-image: url("cacti.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 50vw auto;
}

.logo {
    font-family: 'Fira Code', monospace;
    margin-left:-1.25em;
}

.logo a {
    text-decoration: none;
    color:#ff9800;
}

@media (max-width: 1000px) {
    body {
        margin-bottom:25vw;
        background-size: 80vw;
    }

    .logo {
        margin-left:0em;
    }
}

#fixed-sidebar {
    position: fixed;
    overflow-y: scroll;
    z-index: 10;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transition: all 0.5s ease 0s;
    padding: 10px;
    width: auto;
}

#changelog {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-shadow: 0 1px 5px #ccc;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    width:600px;
}

#changelog h1, #changelog h2, #changelog h3 {
    padding:0 !important;
    padding-left:10px !important;
    font-size:1.4rem;
}

a.selected {
    font-weight: bold;
}

#content.searching p.hidden {
    display:none;
}

.inline-image {
    position: relative;
    padding: 1.5em;
    height: 3em;
    padding-top: 1em;
}

li img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}